<% layout('layout') -%>

<div id="side-nav" class="side-nav">
  <ul class="side-nav-link">
    <li><a class="nav-link active" href="#intro"><span>About Us</span> </a></li>
    <li><a class="nav-link" href="#whoWeAre"><span>Who we are</span> </a></li>
    <li><a class="nav-link" href="#engagementModel"><span>Engagement Model</span> </a></li>
  </ul>
</div>

<section id="intro" class="top-section">
  <div class="container">

    <div class="header-text">
      <h1>About Us</h1>
      <p>A little insight into who we are at Clevyr.</p>
    </div>
  </div>
</section>

<section id="whoWeAre" class="section-padding contect-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Who we are</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <h4>We've been around</h4>
          <p>In the spring of 2009 Clevyr was born from the desire to provide custom software that was designed and
            built with the sole intention of
            transforming the working lives of our clients. We have grown from three partners to a staff of eighteen, all
            here in OKC. We pride ourselves
            on hiring, growing and supporting local causes that we love, and being a part of this community. With
            hundreds of clients from around the
            nation, Clevyr is building software for every facet of the American business.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We work with you</h4>
          <p>Keeping in contact with our clients is our number one priority, and that’s why we never have issues with
            miscommunication. We clearly state our
            estimated deadlines, how often we’re working on a project, any potential issues we see rising – all so that
            we can keep you in the loop. We
            don’t build one-off applications. We build relationships with our clients, and we strengthen those
            relationships with each project.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We focus on your data</h4>
          <p>To us, the most important part of our work is understanding the ins and outs of how your data flows. We
            want to not only help you solve
            problems internal to your business, but also help you explore and analyze information you never expected to
            gather from your data. Our goal is
            to make your life better.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We have talent</h4>
          <p>We’re a senior development studio, and our developers represent that. This isn’t our first rodeo, and we’re
            ready to take our experience and
            see how we can use it to help you. We’re all adults who have been developing for years, and we feel 100%
            confident saying that there’s not a
            problem out there we can’t solve.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="engagementModel" class="section-padding contect-section  bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Engagement model</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <h4>We've been around</h4>
          <p>In the spring of 2009 Clevyr was born from the desire to provide custom software that was designed and
            built with the sole intention of
            transforming the working lives of our clients. We have grown from three partners to a staff of eighteen, all
            here in OKC. We pride ourselves
            on hiring, growing and supporting local causes that we love, and being a part of this community. With
            hundreds of clients from around the
            nation, Clevyr is building software for every facet of the American business.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We work with you</h4>
          <p>Keeping in contact with our clients is our number one priority, and that’s why we never have issues with
            miscommunication. We clearly state our
            estimated deadlines, how often we’re working on a project, any potential issues we see rising – all so that
            we can keep you in the loop. We
            don’t build one-off applications. We build relationships with our clients, and we strengthen those
            relationships with each project.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We focus on your data</h4>
          <p>To us, the most important part of our work is understanding the ins and outs of how your data flows. We
            want to not only help you solve
            problems internal to your business, but also help you explore and analyze information you never expected to
            gather from your data. Our goal is
            to make your life better.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h4>We have talent</h4>
          <p>We’re a senior development studio, and our developers represent that. This isn’t our first rodeo, and we’re
            ready to take our experience and
            see how we can use it to help you. We’re all adults who have been developing for years, and we feel 100%
            confident saying that there’s not a
            problem out there we can’t solve.</p>
        </div>
      </div>
    </div>
  </div>
</section>
