<% layout('layout') -%>

<div id="side-nav" class="side-nav">
  <ul class="side-nav-link">
    <li><a class="nav-link active" href="#intro"><span>Careers</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#culture"><span>Culture</span>&nbsp;</a></li>
  </ul>
</div>

<section id="intro" class="top-section">
  <div class="container">

    <div class="header-text">
      <h1>Careers</h1>
      <p>Check out these opportunities we have available.</p>
      <div class="action-link">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a class="btn btn-theme-alt btn-lite text-uppercase" href="/careers-details">Mobile
              Developer</a></li>
          <li class="list-inline-item"><a class="btn btn-theme-alt btn-lite text-uppercase" href="/careers-details">SOFTWARE
              DEVELOPER</a></li>
          <li class="list-inline-item"><a class="btn btn-theme-alt btn-lite text-uppercase" href="/careers-details">FRONT
              END DEVELOPER</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="culture" class="lr-section bg-pattern">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6 order-md-2">
        <figure>
          <img src="<%= storageHost %>/images/sales.jpg" alt="image"/>
        </figure>
      </div>
      <div class="col-md-6 order-md-1 align-self-center">
        <div class="quote">
          <p>Let us think the unthinkable, let us do the undoable, let us prepare to grapple with the ineffable itself,
            and see if we may not eff it after
            all.</p>
          <p class="quote-author">DirkGently’s Holistic Detective Agency</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lr-section bg-pattern">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6">
        <figure>
          <img src="<%= storageHost %>/images/amber-dev.jpg" alt="image"/>
        </figure>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="quote">
          <p>That’s the thing about people who think they hate computers...What they really hate are lousy
            programmers.</p>
          <p class="quote-author">Larry Niven</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lr-section">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-12">
        <figure>
          <img src="<%= storageHost %>/images/full-size.jpg" alt="image"/>
        </figure>
      </div>
    </div>
  </div>
</section>
