<% layout('layout') -%>

<div id="side-nav" class="side-nav">
  <ul class="side-nav-link">
    <li><a class="nav-link active" href="#intro"><span>Careers</span>&nbsp;</a></li>
    <li><a class="nav-link" href="#jobApply"><span>Job Apply</span>&nbsp;</a></li>
  </ul>
</div>

<section id="intro" class="top-section">
  <div class="container">

    <div class="header-text">
      <h1>Tech Stack</h1>
      <p>We are building a better tomorrow with today’s technology.</p>
    </div>
  </div>
</section>

<section class="section-padding careers-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>What is CognitionTeam?</h3>
        <p>Clevyr is changing how technology works. We are creating applications and software that’s intuitive and
          transforms the working lives of our
          clients. We’re using a consumer-focused and logic-driven approach to do so. This has positioned us uniquely in
          this space and creates one of the
          biggest opportunities for advancement in decades.</p>
        <p>We’ve brought together leaders from top technology, service and design companies to deliver on our promise.
          We all work side by side in a
          collaborative, energetic, and creative environment. The result: better people, better ideas, and better
          technology.</p>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <a class="btn btn-theme-alt btn-sm-wide text-uppercase" href="#jobApply">Apply for this job</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <h3>What is the role?</h3>
        <p>As a key member of Clevyr’s team, you’ll be responsible for developing on mobile platforms like iOS, Android,
          and more. You will be translating the
          UI/UX design wireframes to actual code that will produce the visual elements of the mobile app. You might also
          design the overall architecture of
          the application and evolve it to ensure maximum performance and stability on a mobile device.</p>
        <h3>Deliverables: What you have to achieve</h3>
        <ul class="theme-list list-icon list-icon-cog">
          <li>Build applications for the web and mobile devices.</li>
          <li>Design and scale API endpoints.</li>
          <li>Write understandable documentation for what we are are doing.</li>
          <li>Write unit tests that actually test the app.</li>
        </ul>
        <h3>Who are you?</h3>
        <p>You are inquisitive, resourceful, inventive, and dedicated to solving problems that others cannot see
          past.</p>
        <p>You are someone that believes that there is an answer, and it can be found inside the pathways of 1’s and
          0’s.</p>
        <p>You are a technologist and you want to help people solve real problems with code.</p>
        <h3>Responsibilities</h3>
        <ul class="theme-list list-icon list-icon-cog">
          <li>Design of the overall architecture of the mobile application</li>
          <li>Implementation of a robust set of services and APIs to power the mobile application</li>
          <li>Building reusable code and libraries for future use</li>
          <li>Optimize application for maximum speed and scalability</li>
          <li>Implementation of security and data protection</li>
          <li>Translation of UI/UX wireframes to visual elements</li>
          <li>Integration of the front-end and back-end aspects of the mobile application</li>
        </ul>
        <h3>Skills And Qualifications</h3>
        <ul class="theme-list list-icon list-icon-cog">
          <li>Proficient knowledge of a mobile programming language, a developer should have the knowledge of one or
            more: Swift, Java, Kotlin, Ionic, and
            React Native etc.
          </li>
          <li>Understanding differences between multiple delivery platforms (such as iOS vs Android), and optimizing
            output to match the specific platform
          </li>
          <li>Good understanding of server-side CSS preprocessors, such as Stylus, Less, Sass etc.</li>
          <li>Data migration, transformation, and scripting</li>
          <li>Understanding of fundamental design principles behind a scalable application</li>
          <li>Ability to implement automated testing platforms and unit tests</li>
          <li>Depending on the specific case, a developer should have knowledge of advanced JavaScript libraries and
            frameworks such as AngularJS,
            KnockoutJS, BackboneJS, ReactJS, etc.
          </li>
          <li>Proficient understanding of client-side scripting and JavaScript frameworks, including jQuery</li>
          <li>Basic knowledge of image authoring tools, ability to crop, resize, or perform small adjustments on an
            image. Familiarity with tools such as
            Sketch or Photoshop is a plus.
          </li>
          <li>Proficient understanding of code versioning tools, we use Git.</li>
          <li>Familiarity with development aiding tools such as Bower, Bundler, Rake, Gulp, etc.</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="job-share">
          <p>Share this job</p>
          <ul>
            <li><a href="#"><i class="fab fa-fw fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-fw fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-fw fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fas fa-fw fa-envelope-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div id="jobApply" class="job-apply">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Apply for this Job</h3>
        </div>
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Message" rows="4"> </textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-theme-alt btn-sm-wide text-uppercase" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
