<% layout('layout') -%>
<section id="intro" class="top-section"
         style="background-image:url('<%= storageHost %>/images/contact-bg.jpg');">
  <div class="container">
    <div class="header-text">
      <h1>Contact Us</h1>
      <p>Have a question? Feel free to contact us.</p>
    </div>
  </div>
</section>

<section id="whoWeAre" class="section-padding contact-us-section">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="contact-box">
          <h4>Contact Info</h4>
          <p>If you have something to discuss or you want to get a quote for your project, feel free to get in touch
            with us.</p>
        </div>
        <div class="contact-box">
          <h5>Email Us</h5>
          <p><a href="mailto:hello@cognition.com">hello@cognition.com</a></p>
        </div>
        <div class="contact-box">
          <h5>Call Us</h5>
          <p>844.425.3897</p>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <h4>Have a Question</h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-theme-alt btn-sm-wide">SEND MESSAGE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
