<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about">
          <h2>CognitionTeam</h2>
          <p> In the spring of 2009 Clevyr was born from the desire to provide custom software that was designed and
            built with the sole intention of
            transforming the working lives of our clients.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="address">
          <p><a href="#">hello@cognition.com</a></p>
          <p>844.425.3897</br>
            912 N. Classen Blvd.</br>
            Oklahoma City, OK 73106</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="social">
          <p> Follow us</p>
          <ul>
            <li><a href="#" target="_blank"><i class="fab fa-fw fa-facebook-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-fw fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

