<!-- /Navigation BOC -->
<header>
  <nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="<%= storageHost %>/images/logo.png" alt="logo"/>
    </a>
    <button id="sidebarCollapse" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  </nav>
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="sidebar-dismiss">
      <span>&times;</span>
    </div>
    <ul class="list-unstyled sidebar-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/tech-stack">Tech Stack</a></li>
      <li><a href="/what-we-do">What We Do</a></li>
      <li><a href="/app">Our App</a></li>
      <li><a href="/careers">Careers</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>
<!-- /Navigation EOC -->
