<!-- Start Model -->

<div id="workModal" class="modal work-modal" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title">Workflow Automation</h5>
        <p>Take any process that your organization does and give it the brains to flow automatically.</p>
      </div>
    </div>
  </div>
</div>

<!-- Start Model -->
